#expert
    min-height 500px
    display flex
    position relative
    img
        width 30%
        position absolute
        right 0
        top -8rem

    .expert_container
        width 50%
        text-align center
        margin 10% 0 10% 10%

        .title
            color $tertiary
            font-size 3rem
            font-weight bold

        p
            font-size 0.9rem
            text-align left
            color $gray
            margin-top 3%
