#plataform

    .plataform_container
        display flex
        align-items center
        &-reverse
            flex-direction row-reverse

        // impar
        // &:nth-child(odd)
        //     background-color red

        // par
        // &:nth-child(even)
        //     background-color blue

    .title
        text-align center

    .subtitle
        color $tertiary
        font-size 1.8rem
        text-align center
        width 70%
        margin 3% 0

    .plataform_image
        width 30%

    .plataform_content
        width 50%
        margin auto
        display flex
        align-items center
        flex-direction column

    p
        font-size 1rem
        text-align center
        color $gray
