#plataform

    .plataform_container
        display flex
        align-items center

    .title
        display flex
        flex-direction row-reverse
        margin 5% 30% 0 0

    .subtitle
        color $tertiary
        font-size 1.8rem
        text-align center
        width 65%
        margin 3%

    .plataform_image
        height 550px
        display flex

    .plataform_content
        width 40%
        margin 10%
        display flex
        align-items center
        flex-direction column

    // .plataform_content_reverse
    //     display flex
    //     flex-flow row-reverse

    p
        font-size 1rem
        text-align center
        color $gray
