#plataform

    .title
        text-align center
        &-card
            font-size 1.5rem
            width 200px
            text-align left

    .plataform_container
        display flex
        align-items center
        &-reverse
            flex-direction row-reverse

        .plataform_image
            width 30%

        .plataform_content
            width 50%
            margin auto
            display flex
            align-items center
            flex-direction column

            .subtitle
                color $tertiary
                font-size 1.8rem
                text-align center
                width 70%
                margin 3% 0

            p
                font-size 1rem
                text-align left
                color $gray

    .plataform_card
        width 28%
        display flex
        flex-direction column
        &-whatsapp
            background url("../../images/plataform_content1.png") no-repeat
        &-inteligence
            background url("../../images/plataform_content2.png") no-repeat
        &-dashboard
            background url("../../images/plataform_content3.png") no-repeat

        .plataform_card_header
            color $white
            height 10%
            display flex
            flex-direction row
            align-items center
            &-whatsapp
                background url("../../images/plataform_title1.png") no-repeat
                background-size 67% 100%
            &-inteligence
                background url("../../images/plataform_title2.png") no-repeat
                background-size 67% 100%

            &-dashboard
                background url("../../images/plataform_title3.png") no-repeat
                background-size 67% 100%

            .plataform_icon
                width 50px
                margin 5%

        .plataform_card_content
            text-align center
            color $white
