#service

    .service_list
        display flex
        margin 2%
        align-items baseline

    .service_item
        margin 0 5% 2% 5%
        width 100%

    .service_icon
        width 90%

    .title
        color $tertiary
        font-size 2rem
        font-weight bold
        margin -5% 0 5% 19%

    .subtitle
        color $tertiary
        max-width 100%
        text-align center
        font-weight bold
        margin 5% 0 5% -3%

    p
        font-size 0.9rem
        text-align center
        color $gray
