
@font-face
  font-family 'BrandonGrotesque'
  src url('../fonts/brandon_grotesque/BrandonGrotesque-Bold.woff2') format('woff2'),
  url('../fonts/brandon_grotesque/BrandonGrotesque-Bold.woff') format('woff')
  font-weight bold

@font-face
  font-family 'BrandonGrotesque'
  src url('../fonts/brandon_grotesque/BrandonGrotesque-Regular.woff2') format('woff2'),
  url('../fonts/brandon_grotesque/BrandonGrotesque-Regular.woff') format('woff')
  font-weight normal
